{% extends "home_page/base.html" %}
{% block content %}
    <div class="index-body">
        <div class="index-inner">
        <div class="topbar">
            <span>Lukasz Kozera</span> <br>
            <p class="my-titles">Developer • Pythonista • Student</p>

            <ul>
                <li>
                    <a href="{% url 'about-view' %}" rel="modal:open">about me</a>
                </li>

                <li><a href="{% url 'projects' %}">projects</a></li>

                <li>
                    <a href="{% url 'cv-view' %}" rel="modal:open">cv</a>
                </li>
            </ul>
        </div>
        <div class="social">
            <a href="https://github.com/Frohus" target="_blank" rel="noopener"><i class="fab fa-github fa-3x"></i></a>
            <a href="{% url 'contact' %}" rel="modal:open"><i class="far fa-envelope fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/lukasz-kozera/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin fa-3x"></i></a>
        </div>
    </div>
</div>
{% endblock content %}