{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lukasz Kozera</title>
    <link rel="stylesheet" href="{% static 'home_page/home_static.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
</head>
<body>

<div class="index-body">
    <div class="shim"></div>
    <div class="index-inner">

        <div class="topbar">
            <span><a href="#">Lukasz Kozera</a></span> <br>
            <p>Student • Programmer • Developer</p>

            <ul>

                <li>
                <!--Start of Modal -->
                    <div id="ex1" class="modal">
                        <p>Thanks for clicking. That felt good.</p>
                        <a href="#" rel="modal:close">Close</a>
                    </div>

                    <!-- Link to open the modal -->
                    <p><a href="{% url 'about-view' %}" rel="modal:open">Open Modal</a></p>
                <!--End of Modal -->
                </li>

                <li><a>about me</a></li>
                {# TODO: pop up with text about me #}
                <li><a>projects</a></li>
                {# TODO: lift all page once clicked showing available projects #}
                <li><a>cv</a></li>
                {# TODO: pop up pdf Cv, with option to download and/or print #}
            </ul>
        </div>
        <div class="social">
            <a href="https://github.com/Frohus" target="_blank"><i class="fab fa-github fa-3x"></i></a>
            <a href="#" target="_blank"><i class="far fa-envelope fa-3x"></i></a>
            {# TODO: add popup to send an email directly from the website #}
            <a href="https://www.linkedin.com/in/lukasz-kozera-3b2838159/" target="_blank">
                <i class="fab fa-linkedin fa-3x"></i></a>
        </div>

    </div>
</div>
{# TODO: JS scripts #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>