{% extends "home_page/base.html" %}
{% block content %}
{#    <div class="projectpage">SITE UNDER CONSTRUCTION</div>#}



    <div class="projects-navbar">
        <p><a class ="back-home" href="{% url 'homepage' %}"><i class="fas fa-arrow-left"></i></a></p>
        <p class="title">My Projects</p>
    </div>
    <div class="projects-container">
        {% for project in projects %}
        <div class="project-box">
            <div class="project-title">
                <p>{{ project.project_title }}</p>
            </div>
            <div class="project-desc">
                <p>{{ project.project_desc }}</p>
                <a class="url-button" href="{{ project.project_url }}">Click to check!</a>
            </div>
        </div>
        {% endfor %}
    </div>
{#<div class="back-home">#}
{#    <button><a href="{% url 'homepage' %}">Back</a></button>#}
{#</div>#}


{% endblock content %}



