{% extends "home_page/base.html" %}
{% block content %}
{#    <div class="projectpage">SITE UNDER CONSTRUCTION</div>#}



    <div class="titleeee">
        <p class="title">My Projects</p>
    </div>
    <div class="projects-container">
        {% for project in displayprojects %}
        <div class="project-box">
            <div class="project-title">
                <p>{{ project.project_title }}</p>
            </div>
            <div class="project-desc">
                <p>{{ project.project_desc }}</p>
                <a class="url-button" href="{{ project.project_url }}">Click to check!</a>
            </div>
        </div>
        {% endfor %}
    </div>



{% endblock content %}



