{% extends "home_page/base.html" %}
{% block content %}
{#    <div class="projectpage">SITE UNDER CONSTRUCTION</div>#}

    <div class="title">
        <p>My Projects</p>
    </div>
    <div class="projects-container">
        {% for project in displayprojects %}
        <div class="project-box">
            <div class="project-title">
                <p>{{ project.project_title }}</p>
            </div>
            <div class="project-desc">
                <p>{{ project.project_desc }}</p>
            </div>
            <div class="project-url">
                <p><a href="{{ project.project_url }}"></a>Click to check!</p>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock content %}

